@import "~bootstrap/scss/bootstrap.scss";


$whiteColor: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $whiteColor;
}

.fade.in {
  opacity: 1!important;
}
.modal-backdrop.in {
  filter: alpha(opacity=50) !important;
  opacity: .5 !important;
}

.modal-dialog {
  max-width: 800px !important;
  width: 90% !important;
  margin: 30px auto !important;
}

.modal.fade .modal-dialog {
  transform: translate(0, 0%)!important;
}

.modal-footer {
  .btn-danger {
    box-shadow: none!important;
    text-transform: capitalize;

    &:hover {
      box-shadow: none!important;
    }
  }
}
.form-control-feedback,
.col-form-label {
  font-size: 14px;
}

